@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectFinalWebSale_LuongNewV2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectFinalWebSale_LuongNewV2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Roger Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.FindFirst(ClaimTypes.Email)?.Value == "Admin1.RogerShop@gmail.com" || User.FindFirst(ClaimTypes.Email)?.Value == "Admin2.RogerShop@gmail.com")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Product Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Categories/Index">Category Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Order Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">Account Manage</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Order History</a>
                                </li>
                            }
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                            </li> *@
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                         
                        }
                    </ul>

                    @*  phía logout  *@

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {    //khu vuc nay la khi da dang nhap vao trang web
                            if (User.FindFirst(ClaimTypes.Email)?.Value == "Admin1.RogerShop@gmail.com" || User.FindFirst(ClaimTypes.Email)?.Value == "Admin2.RogerShop@gmail.com")
                            {
                                <li class="border border-warning" class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/DashBoard">
                                        DashBoard 🚩 <span style="color: red;"> @(User.FindFirst(ClaimTypes.Name)?.Value) </span>

                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="border border-info" class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/ShopCarts/ShowCarts">
                                        Cart 👜
                                        <span class="count" id="cart_count" >
                                    @using System
                                    @using ModelServices
                                            @{
                                                var data = Context.Session.Get<List<CartItem>>("GioHang");
                                                if (data == null)
                                                {
                                                    data = new List<CartItem>();
                                                }
                                            }
                                            @(data.Sum(c => c.SoLuong))
                                        </span>
                                    </a>
                                </li>

                                <li class="border border-info" class="nav-item">    
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">
                                        Welcome to @(User.FindFirst(ClaimTypes.Name)?.Value)
                                       
                                    </a>
                                </li>                              
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Authen/Logout">Logout</a>
                            </li>
                        
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" class="nav-link text-dark" asp-area="" asp-page="/Authen/Login">Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Tran Nguyen Duc Luong 👉 Roger Shoppe - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

 @*    @await RenderSectionAsync("Scripts", required: false) *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>