@page
@using System.Security.Claims
@model ProjectFinalWebSale_LuongNewV2.Pages.IndexBaseModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ROGER SHOP &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1  text-left">
                           


                            <a class="" style="color:skyblue" asp-area="" asp-page="/IndexBase">Address Shop : Vo Chi Cong , Da Nang , VN </a>


                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a asp-page="/IndexBase" class="js-logo-clone">ROGER SHOP</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                   
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.FindFirst(ClaimTypes.Email)?.Value == "Admin1.RogerShop@gmail.com" || User.FindFirst(ClaimTypes.Email)?.Value == "Admin2.RogerShop@gmail.com")
                                        {

                                            // admin
                                            <li >
                                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/DashBoard">
                                                    DashBoard 

                                                </a>
                                            </li>
                                            <li >
                                                <a class="icon icon-person" asp-area="" asp-page="">
                                                    Welcome <span style="color: red;"> @(User.FindFirst(ClaimTypes.Name)?.Value) </span>

                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            // khách
                                            

                                            <a class="icon icon-person" asp-area="" asp-page="">
                                                Welcome <span style="color: red;"> @(User.FindFirst(ClaimTypes.Name)?.Value) </span>

                                            </a>
                                            
                                        }
                                        <li>
                                            <a class="icon icon-sign-out" asp-area="" asp-page="/Authen/Logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li >
                                            <a class="icon icon-sign-in" style="color:skyblue" asp-area="" asp-page="/Authen/Login">   Login</a>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block" style="font-size:large">
                        @* <li class="has-children active">
                        <a href="index.html">Home</a>
                        <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                        <li class="has-children">
                        <a href="#">Sub Menu</a>
                        <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                        </ul>
                        </li>
                        </ul>
                        </li> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.FindFirst(ClaimTypes.Email)?.Value == "Admin1.RogerShop@gmail.com" || User.FindFirst(ClaimTypes.Email)?.Value == "Admin2.RogerShop@gmail.com")
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/IndexBase">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Products/Index">Product Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Categories/Index">Category Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Orders/Index">Order Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Users/Index">Account Manage</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/IndexBase">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Index">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-page="/Orders/Index">Order History</a>
                                </li>
                            }
                           
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="" asp-area="" asp-page="/IndexBase">Home</a>
                            </li>

                        }
                    </ul>
                </div>
            </nav>
        </header>

        <div class="site-blocks-cover" style="background-image: url(/images/Banner4.png);" data-aos="fade">
            <div class="container">
                <div class="row align-items-start align-items-md-center justify-content-end">
                    <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                        <h1 style="color:white" class="mb-2">Finding Your Perfect Sport</h1>
                        <div class="intro-text text-center text-md-left">
                            <p class="mb-4"> </p>
                            <p>
                                <a asp-page="/Index" class="btn btn-sm btn-primary">Shop Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-section-sm site-blocks-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-truck"></span>
                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Free Shipping</h2>
                            <p</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-refresh2"></span>
                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Free Returns</h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-help"></span>
                        </div>
                        <div class="text">
                            <h2 class="text-uppercase">Customer Support</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-blocks-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="/images/Ball1_p.png" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Football</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="/images/Tennis1_p.png" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Tennis</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="/images/Bike1_p.png" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Bike</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section block-3 site-blocks-2 bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>Featured Products</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nonloop-block-3 owl-carousel">

                            @foreach (var item in Model.Product)
                            {
                                <div class="item">
                                    <div class="block-4 text-center">
                                        <figure class="block-4-image">
                                            <img src="@Html.DisplayFor(modelItem => item.Images)" alt="Image placeholder" class="img-fluid">
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h3><a href="#"> @Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                                            <p class="mb-0">@Html.DisplayFor(modelItem => item.Category.CategoryName)</p>
                                            <p class="text-primary font-weight-bold">@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                                        </div>
                                    </div>
                                </div>
                                
                            }

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section block-8">
            <div class="container">
                <div class="row justify-content-center  mb-5">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>Big Sale!</h2>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-7 mb-5">
                        <a href="#"><img src="/images/Banner4.png" alt="Image placeholder" class="img-fluid rounded"></a>
                    </div>
                    <div class="col-md-12 col-lg-5 text-center pl-md-5">
                        <h2><a href="#">50% less in all items</a></h2>
                        <p class="post-meta mb-4">By <a href="https://www.facebook.com/ducluong.tn11/">DucLuong</a> <span class="block-8-sep">&bullet;</span> March 2024</p>
                        <p></p>
                        <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sell online</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Shopping cart</a></li>
                                    <li><a href="#">Store builder</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4"></h3>
                        <a href="#" class="block-6">
                            <img src="/images/Ball1.png" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0"></h3>
                            <p></p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">Vo Chi Cong , Da Nang , VN</li>
                                <li class="phone"><a href="">+84 832121936</a></li>
                                <li class="email">RogerShop@gmail.com</li>
                            </ul>
                        </div>

                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            Chuc Ban mua sam vui ve<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> Roger Shop | This Website is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/ducluong.tn11/" target="_blank" class="text-primary">DucLuong Tran</a>
                           
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>

    <script src="/js/main.js"></script>

</body>
</html>